* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #ffc600;
    text-shadow: 0 0 10px black;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

body {
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1457523054379-8d03ab9fc2aa?ixlib=rb-0.3.5&s=fd547754a31faa53b2e816a66c0b980b&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.keys-container {
    padding: 2rem 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 40%;
    flex-flow: wrap;
    -webkit-flex-flow: wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.key {
    flex-grow: 1;
    border: 4px solid black;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1rem;
    padding: 1rem 0;
    transition: all 0.07s;
    width: 20%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd {
    display: block;
    font-size: 3rem;
    padding: 1rem 0;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}

h6 {
    font-family: 'Lobster', cursive;
    color: #ffc600;
    text-shadow: 0 0 12px black;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
}